
@import '../../utils/styles/custom-palette';

.post-page-container {
  position: relative;
  height: auto;

  >button:first-child {
    position: absolute;
    top: 40px;
    left: 14px;
    @extend .cursor-pointer;
    font-size: large;
  }

  >div:nth-child(2) {
    @extend .text-center;
    padding: 50px 0;
    color: $textClrSecondary;
    font-size: $fontSizeXXLarge;

  }

  >div:nth-child(3) {
    padding: 20px;

    .display-section {
      display: inline-block;
      padding-bottom: 10px;

      >div:first-child {
        width: 90%;
        padding: 4px;
        font-size: $fontSizeXXLarge;
        background-color: $textClrSecondary;
        box-shadow: 0, 3px, 6px, 0, rgba(10, 7, 7, 0.16);

        .content-box {
          padding: 20px;
          font-size: $fontSizeLarge;
          overflow: auto;

          div {
            color: $goBtnClrPrimary;
            font-weight: bold;
          }

          p {
            padding-top: 10px;
          }
        }
      }

      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        & {
          width: 100%;
        }
      }

      /* Small devices and Medium devices (portrait tablets , large phones, landscape tablets, 600px , 768px and up) */
      @media only screen and (min-width: 601px) and (max-width: 768px) {
        width: 50%;

        .content-box {
          height: 34vh;

          div {
            min-height: 8vh;
          }
        }
      }

      /* Large devices (laptops/desktops, 769px and up) */
      @media only screen and (min-width: 769px) {
        width: 32%;

        .content-box {
          height: 34vh;

          div {
            min-height: 10vh;
          }
        }
      }

      /* Extra large devices (large laptops and desktops, 1200px and up) */
      @media only screen and (min-width: 1200px) {
        width: 20%;

        .content-box {
          height: 38vh;

          div {
            min-height: 10vh;
          }
        }
      }

    }
  }
}