<div class="post-page-container primary-background">
    <button type="button" class="go-button" [routerLink]="['/']" routerLinkActive="active">Go Back</button>
    <div>
        {{userData[0].username}}
    </div>
    <div>
        <div class="display-section" *ngFor="let data of userPostData">
            <div>
                #{{data.id}}
                <div class="content-box">
                    <div>{{data.title}}</div>
                    <p>{{data.body}}</p>
                </div>
            </div>
        </div>
    </div>
</div>