<div class="primary-background search-user-container" [ngClass]="{'secondary-background': isSearchText}">
  <form>
    <input type="search" placeholder="Search..." [(ngModel)]="searchData" name="searchUser"  (keyup)="searchUser($event)">
    <button type="submit" class="go-button" (click)="onSubmit()"[disabled]="!isSearchText"><span  [ngClass]="{'action-style': isSearchText}">Go</span></button>
  </form>
</div>