@import '../../utils/styles/custom-palette';


.search-user-container {
  height: 100vh;
  position: relative;
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        input[type=search] {
          border:solid 3px $textClrSecondary;
          box-sizing:border-box;
          font-size:$fontSizeXLarge;
          height:2em;
          width: 15em;
          padding:20px;
          z-index:1;
        }
        
      }
}
