
@import './app/utils/styles/custom-palette';

html,
body {
  font-size: $fontSizeRegular;
  box-sizing: border-box;
  margin: 0 !important;
  background-color: $lightBackground;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
}


.go-button {
  border-radius: 4px;
  background-color: $goBtnClrPrimary;
  border: none;
  text-align: center;
  font-size: $fontSizeXLarge;
  color: $textClrSecondary;
  width: 120px;
  transition: all 0.5s;
  padding: 11px;
  margin: 5px;

  .action-style {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }

  &:hover .action-style {
    padding-right: 25px;

    &:after {
      opacity: 1;
      right: 0;
    }
  }
}