$lightBackground: #f5f7fa;
$goBtnClrPrimary: deepskyBlue;
$textClrPrimary: #000000;
$textClrSecondary: #ffffff;
$fontSizeRegular: 14px;
$fontSizeSmall: 10px;
$fontSizeLarge: 18px;
$fontSizeXLarge: 24px;
$fontSizeXXLarge: 28px;


// text-alignments
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

button {
  border: none;
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

[disabled] {
  opacity: 0.4;
  cursor: not-allowed !important;
}




// backgrounds
%backrgound-elements {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary-background {
  @extend %backrgound-elements;
  transition: all 0.5s;
  background-image: url("/assets/img/bg-image-primary.jpeg");
}

.secondary-background {
  transition: all 0.5s;
  background-image: url("/assets/img/bg-image-secondary.jpeg");
}
